/*========== CARDS ===========*/
.main__cards{
   display: flex;
   margin-top: var(--container);
}

.main__participantes{
   display: flex;
   flex: 1;
   justify-content: space-around;
   background-color: var(--Cornflowerblue);
   color: var(--White);
   padding: 1.25rem;
   border-radius: .625rem;
   box-shadow: 1px 1px 2px rgba(15, 45, 90, 0.1);
}

.main__participantes-dados{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: .625rem;
}

.main__alunos{
   font-size: 1.875rem;
   color: var(--gray-light);
   font-weight: bold;
}

.main__alunos-qt{
   font-size: 2.5rem;
   font-weight: bold;
}

.main__participaram{
   font-size: 1.125rem;
   font-weight: bold;
   color: var(--gray-light);
   margin-top: 2.25rem;
}

.main__participaram-qt{
   font-size: 1.875rem;
   font-weight: bold;
}

.main__participantes-icon{
   font-size: 3rem;
   align-self: center;
   color: var(--Cornflowerblue-light);
}

/*Chart Curso e Periodo*/
.main__charts{
   flex-wrap: wrap;
   margin-left: 1.875rem;
   background-color: var(--White);
   padding: 1.125rem;
   border-radius: .625rem;
   flex: 2;
   position: relative;
}

.main__moradia{
   margin-top: 3.75rem;
   padding-left: 1rem;
   border-left: 4px solid var(--Cornflowerblue-darker);
}

.main__subtitle{
   font-size: 1.875rem;
   color: #2E446E;
}

.main__charts-moradia{
   background-color: var(--White);
   padding: 1.125rem;
   border-radius: .625rem;
   flex: 2;
   position: relative;
}

.main__charts-moradia:first-child{
   margin-right: 1.875rem;
}

.main__charts-MoraCom{
   background-color: var(--White);
   padding: 1.125rem;
   border-radius: .625rem;
   flex: 2;
   position: relative;
}

.main__charts-MoraCom:first-child{
   margin-right: 1.875rem;
}

.main__dadosPessoais{
   margin-top: 3.75rem;
   padding-left: 1rem;
   border-left: 4px solid var(--Cornflowerblue-darker);
}

.main__charts-dadosPessoais{
   background-color: var(--White);
   padding: 1.125rem;
   border-radius: .625rem;
   flex: 2;
   position: relative;
}

.main__charts-dadosPessoais:first-child{
   margin-right: 1.875rem;
}
