/*========== MEDIA QUERIES ===========*/
@media screen and (max-width:320px){
   .header__logo{
      font-size: .875rem;
   }

   .header__toggle{
      font-size: 1rem;
   }

   .nav{
      width: 80%;
   }

   .nav__logo-name{
      font-size: .875rem;
   }
}



@media screen and (max-width: 425px){
   .container{
      padding: 1.875rem;
   }

   .header{
      padding: 0 1.875rem;
   }

   .nav__link{
      padding: 1.25rem;
   }

   .nav__logo-link{
      padding: 1.188rem;
   }

   .active{
      border-left: 0.375rem solid var(--Cornflowerblue-contrast);
      color: var(--White);
      padding: 1.25rem calc(1.25rem - 0.375rem);
   }

   .main{
      min-height: calc(100vh - 7.5rem);
   }

   .main__painel{
      display: flex;
      flex-direction: column;
   }

   .main__title{
      font-size: 1.5rem;
   }

   .main__btn{
   width: 9.004rem;
   height: 2.813rem;
   margin-top: 1.25rem;
   display: flex;
   justify-content: center;
   }
}

@media screen and (max-width: 1024px){
  
}