.main__table::-webkit-scrollbar-track {
   background-color: rgb(235, 235, 235);
   border-radius: 10px;
   margin: 5px;
}
.main__table::-webkit-scrollbar {
   width: 6px;
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
   width: 10px;
}
.main__table::-webkit-scrollbar-thumb {
   background-color: #c4cbd8;
   border-radius: 10px;
   margin: 5px;
}

.main__table{
   background-color: var(--White);
   width: 100%;
   height: 25rem;
   margin-top: 1.25rem;
   padding: .625rem 1.25rem;
   border-radius: .625rem;
   box-shadow: 1px 1px 2px rgba(15, 45, 90, 0.1);
   overflow: auto;
}

.table{
   background-color: rgb(255, 255, 255);
   border-collapse: collapse;
   width: 100%;
   border-radius: .5rem .5rem 0 0;
   overflow: hidden;
   white-space: nowrap;
}

.thead__row{
   background-color: rgb(255, 255, 255);
   color: #404040;
   text-align: left;
   font-size: 1.125rem;
   font-weight: bold;
   border-bottom: 1px solid rgb(226, 226, 226);
}
.thead__data, .tbody__data{
   padding: 1.125rem;
}

.tbody__row{
   border-bottom: 1px solid rgb(238, 238, 238);
   color: #2E446E;
}

.tbody__row:nth-last-of-type(even) {
   background-color: rgb(255, 255, 255);
}

.t__row:last-of-type {
   border-bottom: .125rem solid rgb(255, 255, 255);
}
